{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1" >
    <link rel="" href="">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<title>Mr.K & Co Funds</title>
<link rel="shortcut icon" href="{% static 'images/lo2-removebg-preview.png' %}" type="image/x-icon">
<style>
#hov:hover{
  color: black;
  text-decoration: underline;
  text-transform: uppercase;
}
::selection {
  color: rgb(0, 255, 98);
  background:transparent;
}
</style>
</head>
<body>
  
  <!-- JavaScript Bundle with Popper -->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>-->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>

<nav class="navbar navbar-expand-lg navbar fixed-top navbar-light bg-light">
<div class="container-fluid">
  <a class="navbar-brand" href="#">
    <img src="{% static 'images/lo-removebg-preview.png' %}" alt="logo" style="height: 50px;">
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      
      <li class="nav-item">
        <a class="nav-link " id="hov" href="/indexlog">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " id="hov"  href="/missionlog">Mission</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" id="hov" href="/contactlog">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" id="hov" aria-current="page" href="#">FAQ?</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="hov" href="/donate">Donate</a>
      </li>
      <li class="nav-item dropdown " >
        <a class="btn btn-outline-primary dropdown-toggle" id="hov" href="" data-bs-toggle="dropdown" aria-expanded="false"> Edit Profile</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" id="hov" href="/updateperson">Personal Detail</a></li>
          <li><a class="dropdown-item" id="hov" href="/updateimg">Photo</a></li>
          <li><a class="dropdown-item" id="hov" href="/updatefiles">Document</a></li>
          <li><a class="dropdown-item" id="hov" href="/updatecampfiles">Campaign Document</a></li>
</ul>
      </li>
      
    </ul>
    <a class="btn btn-outline-primary " id="hov" href="/campaign" > Start Your Campaign </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
  <a class="btn btn-outline-primary " id="hov" href="/" > Log OUT </a>
&nbsp;&nbsp;&nbsp;&nbsp;
  </div>
</div>
</nav>
<br>
<br><br><br>

<div  class="container">
  <div class="row">
    <img src="{% static 'images/faqimg.png' %}" alt="faqimg" style="border-radius: 10px;">
  </div>
    
     <br>

     <div class="row">
        <div class=" d-grid gap-3 col-lg-9 mx-auto">
            <h2 style="color: green;font-family: 'Times New Roman', Times, serif;text-decoration:underline 2px green;"> Frequently Asked Questions :</h2>
     </div>
     </div>
     <br>
    <div class="accordion" id="accordionExample">
      <div class="row"style="padding-top:10px;">
        <div class=" d-grid gap-4 col-lg-6 mx-auto">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingZero">
                  <button class="accordion-button collapsed btn-outline-light" style="text-transform: capitalize;  font-family: 'Times New Roman', Times, serif;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseZero" aria-expanded="false" aria-controls="collapseZero">
                   Is It Real Campaign Website ?
                  </button>
                </h2>
                <div id="collapseZero" class="accordion-collapse collapse " aria-labelledby="headingZero" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                   No, This Is A college Project . Not A real Campaign Website.
                  </div>
                </div>
              </div>
        
        </div>
    </div>
      <div class="row"style="padding-top:10px;">
        <div class=" d-grid gap-4 col-lg-6 mx-auto">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button collapsed btn-outline-light" style="text-transform: capitalize;  font-family: 'Times New Roman', Times, serif;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    When the&nbsp; <span style="color: green;">Mr.K & Co</span>&nbsp; was Started ?
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    The&nbsp; <strong style="color:green">Mr.K & Co</strong> was started in 1947.
                  </div>
                </div>
              </div>
        
        </div>
    </div>
    
    <div class="row" style="padding-top:5px;">
        <div class="d-grid gap-4 col-lg-6 mx-auto">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button class="accordion-button collapsed btn-outline-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    What can I raise Money for?
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>We see people use <strong style="color: green;">Mr.K & Co</strong> to raise money for poor people, friends, and family, or even complete stranger in random acts of kindness. <br>People raise money for just about everything, including medical expenses, education costs, volunteer programs, youth sports, funerals and even animals & Pets.</p>
                  </div>
                </div>
              </div>
        </div>
    </div>
    
    <div class="row" style="padding-top:5px;">
        <div class="d-grid gap-4 col-lg-6 mx-auto">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button collapsed btn-outline-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    How does &nbsp;<span style="color: green;">Mr.K & Co</span>&nbsp; keep campaign safe?
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p><span style="color: green;">Mr.K & Co</span> features the very best in secure payment encryption technology. Your donor's online payments are safe, and your money is saved securely until you're ready to request a withdrawal via electronic bank transfer.</p>  
                  </div>
                </div>
              </div>
        </div>
    </div>
    <div class="row" style="padding-top:5px;">
        <div class="d-grid gap-4 col-lg-6 mx-auto">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                  <button class="accordion-button collapsed btn-outline-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    How do I withdraw Funds from my Campaign?
                  </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>Once your <span style="color: green;">Mr.K & Co</span> starts receiving online donations, you can easily request a withdrawal at any time. Withdrawing money does not affect the progress meter displayed on your campaign. Simply click ‘Withdraw’ while logged into your account and follow the instructions. You can withdraw your balance directly to your bank account. Bank transfers take 2-5 business days to arrive.</p>  
                  </div>
                </div>
              </div>
        </div>
    </div>
    <div class="row" style="padding-top:5px;">
        <div class="d-grid gap-4 col-lg-6 mx-auto">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFive">
                  <button class="accordion-button collapsed btn-outline-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    What if I don't reach my goal ?
                  </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                  <p>No problem. Reaching your goal is not required. With <span style="color: green;">Mr.K & Co</span>, you keep each and every donation you receive. Your campaign will be able to accept donations even after your goal is reached. Once the goal is reached, the progress meter on your campaign will show that you have received more than your goal amount. If you’d like to continue raising money, you can keep your campaign running for as long as you’d like.</p>  
                  </div>
                </div>
              </div>
        </div>
    </div>
    <div class="row" style="padding-top:5px;">
        <div class="d-grid gap-4 col-lg-6 mx-auto">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingSix">
                  <button class="accordion-button collapsed btn-outline-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    Is my Country supported?
                  </button>
                </h2>
                <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>All Countries are supported</p>
                  </div>
                </div>
              </div>
        </div>
    </div>
    
    </div>
</div>
<br><br>
<blockquote style="font-style: italic;text-align: center; font-weight: bolder;">"If any queries visit Contact us page and send query."</blockquote>
<br><br><br><br><br>
<div class="container-fluid bottom navbar-dark bg-dark">
      
    <p style="text-align: center; color: white;"> &#169; 2021 - 2022 | Mr.K & Co Funds. | All Rights Reserved with Copyright & TradeMarks</p>
    <div class="container">
      <div class="row">
          <div class="d-grid gap-4 col-lg-6 mx-auto" ><h1 style="text-align: center;"><a class="btn btn-outline-light" href="/serviceslog">Our Services</a></h1>
          </div>
      </div>
  </div>
  </div>
</body>
</html>