{% load static %}
<!DOCTYPE html>
<html>
  <head>
  <style>
    body{
      background-image: url("{% static 'images/dark-dollar-1-1237052.jpg' %}");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
    }
    #signimg{
      background-color: white;
    }
    #logbtn{
      color: linear-gradient(to bottom left,rgb(40, 148, 40), rgb(0,255,0));
    }
    #btf{
  position: fixed;
  bottom: 100px;
  right: 10px;
}
  </style>
  <script src="{% static 'login.js' %}"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1" >
    <link rel="" href="">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<title>Mr.K & Co Funds</title>
<link rel="shortcut icon" href="{% static 'images/lo2-removebg-preview.png' %}" type="image/x-icon">
<style>
  span{
    font-size:smaller;
    
  }
</style>
</head>
<body>
  
  <!-- JavaScript Bundle with Popper -->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>-->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>

<nav class="navbar navbar-expand-lg navbar fixed-top navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="{% static 'images/lo-removebg-preview.png' %}" alt="logo" style="height: 50px;">
      </a>
      </div>
      </nav>
<!--<form action="register" method="post">
    {% csrf_token %}

    <input type="text" name="first_name" placeholder="First_name"><br>
    <input type="text" name="last_name" placeholder="Lastt_name"><br>
    <input type="text" name="username" placeholder="Username"><br>
    <input type="email" name="email" placeholder="email"><br>
    <input type="password" name="password1" placeholder="Password"><br>
    <input type="password" name="password2" placeholder="Confrim Password"><br>
    <input type="submit">
</form>-->
<nav class="navbar navbar-expand-lg navbar fixed-top navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="{% static 'images/lo-removebg-preview.png' %}" alt="logo" style="height: 50px;">
      </a>
      </div>
      </nav>
      <br><br>
<div class="container"  >
    <br><br><br>
    <div class="row">
      <div class="col-lg-3" >
        <div style="margin-top: 100px;">
        <img src="{% static 'images/lo2-removebg-preview.png' %}" alt="Company-Logo">
        <br>
        <br>
        <div style="margin-left: 75px;color: rgb(2, 92, 2);" >
        <p><h1>M<span>r.</span>&nbsp;K&nbsp;<span>&</span>C<span>o</span></h1></p>
        <br>
        {% for message in messages %}
        <h5 style="color:red;"> {{message}} </h5>
        {% endfor %}
        </div>
        </div>
      </div>
        <div class="d-grid gap-3 col-lg-4 mx-auto " style="border: 1px black solid;background-image: linear-gradient(to right,grey,white);border-radius: 5px;" id="signimg">
          <br>  
          <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist" ;>
                <li class="nav-item" role="presentation" >
                  <button class="nav-link active" id="Signin-tab" data-bs-toggle="tab" data-bs-target="#Signin" type="button" role="tab" aria-controls="Signin" aria-selected="true"style="background-image: linear-gradient(to right,white,grey); color: black;">SignUp</button>
                </li>
                
                
              </ul>
<div class="tab-content" id="myTabContent" >
                
                <div class="tab-pane fade show active" id="Signin" role="tabpanel" aria-labelledby="Signin-tab">
                    <div class="container " style="margin-top: 25px;  ">
                        <form class="form-horizontal was-validated"  method="POST" >
                          {% csrf_token %}
                          <!--{{form.as_p}}
                          <button>register</button>-->
                            <div class="form-group">
                                <label class="control-label " style="color:black; "><i class="bi bi-person-fill"></i>Full Name</label>
                                <div>
                              
                                  <input type="text " placeholder="Enter your full name" name="username"   class="form-control is-invalid" required>
                                        </div>
                              </div>
                              <br>
                              
                          <div class="form-group">
                            <label class="control-label "style="color: black; " for="email"><i class="bi bi-envelope"></i>Email</label>
                            <div>
                              <input type="email" id="email" value="" name="email" class="form-control is-invalid" required placeholder="Your email" name="email">
                            </div>
                          </div>
                          <br>
                          <div class="form-group">
                            <label for="pwd"style="color: black; "><i class="bi bi-key"></i>&nbsp;&nbsp;Password</label>
                            <div >          
                              <input type="password"  name="password1" placeholder="password" class="form-control is-invalid"  required />
                            </div>
                          </div>
                          <br>
                          <div class="form-group">
                            <label for="pwd"style="color: black; "><i class="bi bi-key"></i>&nbsp;&nbsp;Confrim Password</label>
                            <div >          
                              <input type="password"  name="password2" placeholder="password" class="form-control is-invalid"  required />
                            </div>
                          </div>
                          
                          <div class="form-group">   
                            
                            <div  class=" btn col-12" >
                                
                              <input type="submit" class="btn btn-outline-secondary"  value="Sign Up"  style="color:black; " onclick="signupvalid()" >
                            </div>
                          </div>
                        </form>
                      </div>
                     
                </div>
<a class="btn btn-outline-success btn-lg rounded-pill fixed" href="/" role="button"id="btf"><i class="bi bi-house-fill " ></i> &nbsp;&nbsp;HOME&nbsp; </a>

</body>
</head>